<div class="d-flex flex-column mb-3">
    <div>
        <div *ngIf="notification.show" [class]="'alert alert-' + notification.type  + ' d-flex align-items-center justify-content-between'" role="alert">
            <div class="text-truncate">{{ UcFirst(notification.message) }}</div>
            <button type="button" class="close" (click)="hideNotification()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between px-2 py-2">
        <div class="btn-group justify-content-center" role="group" aria-label="all langues">
            <button type="button" class="btn btn-sm text-info text-truncate" *ngFor="let lang of langs" (click)="changeLangNg(lang)">{{ dataLang[lang][langNg] }}</button>
        </div>
        <div class="p-2 p-sm-0 d-flex justify-content-center justify-content-sm-end">
            <button type="button" class="show-modal1 mx-1 btn btn-sm btn-dark text-truncate" (click)="modalDetailIsOpen = !modalDetailIsOpen">{{ (modalDetailIsOpen) ? dataLang.open_modal[langNg] : dataLang.closed_modal[langNg] }}</button>
            <div class="modal" id="modal1" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ UcFirst(dataLang.detail[langNg]) }}</h5>
                            <button type="button" class="close" (click)="modalDetailIsOpen = !modalDetailIsOpen" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex flex-column text-dark">
                                <div class="text-capitalize font-weight-bold pb-1">{{ dataLang[elementSelected.lang][langNg] }}</div>
                                <div class="pb-1">
                                    <font class="font-weight-bold">{{ UcFirst(dataLang.spoken_level[langNg]) }}</font>:
                                    <font class="text-capitalize">{{ dataLang[elementSelected.spoken_level][langNg] }}</font>
                                </div>
                                <div class="pb-1">
                                    <font class="font-weight-bold">{{ UcFirst(dataLang.written_level[langNg]) }}</font>:
                                    <font class="text-capitalize">{{ dataLang[elementSelected.written_level][langNg] }}</font>
                                </div>
                                <div class="">
                                    <font class="font-weight-bold">{{ UcFirst(dataLang.understanding_level[langNg]) }}</font>:
                                    <font class="text-capitalize">{{ dataLang[elementSelected.understanding_level][langNg] }}</font>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--h4 class="px-2 py-2 text-info">langNg:: {{ langNg }}</h4-->
    <h4 class="px-2 py-2 text-info">{{ UcFirst(dataLang[elementSelected.lang][langNg]) }}</h4>
    <h4 class="px-2 py-2 text-dark font-weight-bold">{{ UcFirst(dataLang.add_language[langNg]) }}</h4>
    <div class="container-fluid">
        <div class="row">
            <form #form1="ngForm" (ngSubmit)="saveElement()" class="col-12 col-sm-8">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="field-langue text-truncate">{{ UcFirst(dataLang.choose_language[langNg]) + '*' }}</label>
                            <select #form1_lang="ngModel" [(ngModel)]="elementFind.lang" class="form-control" name="field-langue" id="field-langue">
                                <option class="text-dark" disabled selected>{{ UcFirst(dataLang.select_language[langNg]) }}</option>
                                <option class="text-capitalize" *ngFor="let lang of langs" [value]="lang">{{ dataLang[lang][langNg] }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="field-niveau-parle text-truncate">{{ UcFirst(dataLang.spoken_level[langNg]) + '*' }}</label>
                            <select #form1_spoken_level="ngModel" [(ngModel)]="elementFind.spoken_level" class="form-control" name="field-niveau-parle" id="field-niveau-parle">
                                <option class="text-dark" disabled selected>{{ UcFirst(dataLang.select_element[langNg]) }}</option>
                                <option class="text-capitalize" *ngFor="let level of levelsLang" [value]="level">{{ dataLang[level][langNg] }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="field-niveau-ecrit text-truncate">{{ UcFirst(dataLang.written_level[langNg]) + '*' }}</label>
                            <select #form1_written_level="ngModel" [(ngModel)]="elementFind.written_level" class="form-control" name="field-niveau-ecrit" id="field-niveau-ecrit">
                                <option class="text-dark" disabled selected>{{ UcFirst(dataLang.select_element[langNg]) }}</option>
                                <option class="text-capitalize" *ngFor="let level of levelsLang" [value]="level">{{ dataLang[level][langNg] }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="field-niveau-comprehension text-truncate">{{ UcFirst(dataLang.understanding_level[langNg]) + '*' }}</label>
                            <select #form1_understanding_level="ngModel" [(ngModel)]="elementFind.understanding_level" class="form-control" name="field-niveau-comprehension" id="field-niveau-comprehension">
                                <option class="text-dark" disabled selected>{{ UcFirst(dataLang.select_element[langNg]) }}</option>
                                <option class="text-capitalize" *ngFor="let level of levelsLang" [value]="level">{{ dataLang[level][langNg] }}</option>
                            </select>
                        </div>
                    </div>
                    <!--div class="col-12">{{ elementFind | json }}</div-->

                    <div class="col my-2">
                        <button [disabled]="!form1.form.valid" type="submit" class="btn btn-sm btn-info text-capitalize text-truncate">{{ UcFirst(dataLang.save[langNg]) }}</button>
                    </div>
                </div>
            </form>
            <div class="col bg-dark text-white text-center p-0">
                <div class="bg-info d-flex align-items-center justify-content-center" style="width: 100%; height: 100%;">
                    <div class="px-2 py-4">
                        <div class="">
                            {{ UcFirst(dataLang.number_languages[langNg]) }}
                        </div>
                        <div class="">{{ elementsLength }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="px-2 py-2 text-dark">{{ UcFirst(dataLang.list_languages[langNg]) }}</h4>
    <div class="d-flex px-2 py-2">
        <div class="flex-fill">
            <div *ngFor="let lang of elements" id="bd-langue-1" class="d-flex flex-column align-items-start flex-md-row align-items-md-center border p-1 my-2">
                <font class="mx-1 text-capitalize font-weight-bold">{{ dataLang[lang.lang][langNg] }}</font>
                <font class="mx-1">
                    <font class="font-weight-bold">{{ UcFirst(dataLang.spoken_level[langNg]) }}</font>:
                    <font class="text-capitalize">{{ dataLang[lang.spoken_level][langNg] }}</font>
                </font>
                <font class="mx-1">
                    <font class="font-weight-bold">{{ UcFirst(dataLang.written_level[langNg]) }}</font>:
                    <font class="text-capitalize">{{ dataLang[lang.written_level][langNg] }}</font>
                </font>
                <font class="mx-1">
                    <font class="font-weight-bold">{{ UcFirst(dataLang.understanding_level[langNg]) }}</font>:
                    <font class="text-capitalize">{{ dataLang[lang.understanding_level][langNg] }}</font>
                </font>
                <font class="ml-md-auto flex-fill d-flex flex-column flex-sm-row justify-content-center justify-content-md-end">
                    <button type="button" class="m-1 btn btn-sm btn-success text-capitalize text-truncate" (click)="selectElement(lang.lang)">{{ dataLang.update[langNg] }}</button>
                    <button type="button" class="m-1 btn btn-sm btn-warning text-white text-capitalize text-truncate show-modal1" (click)="selectLang(lang)">{{ dataLang.detail[langNg] }}</button>
                    <button type="button" class="m-1 btn btn-sm btn-danger text-capitalize text-truncate" (click)="deleteElement(lang.lang)">{{ dataLang.delete[langNg] }}</button>
                </font>
            </div>
        </div>
    </div>
  </div>